<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">
	<Properties>
		<Property name="log-path">applogs</Property>
	</Properties>
	<Appenders>
		<Console name="Console-Appender" target="SYSTEM_OUT">
			<PatternLayout>
				<pattern>
					%d|%p|%m%n
				</pattern>
			</PatternLayout>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.skb.xpg.appd.svc" level="debug" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Root>
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
</Configuration>
