<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 콘솔 로그 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 패턴 레이아웃 설정 -->
		<layout class="ch.qos.logback.classic.PatternLayout">
		    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%msg%n</pattern>
		</layout>
	</appender>

	
	<!-- root 로거 기본 설정 -->
	<root level="info">
		<appender-ref ref="stdout"/>
	</root>
	<root level="error">
		<appender-ref ref="stdout"/>
	</root>
</configuration>