<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 콘솔 로그 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- 패턴 레이아웃 설정 -->
		<layout class="ch.qos.logback.classic.PatternLayout">
		    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%msg%n</pattern>
		</layout>
	</appender>

	<!-- 에러 로그 -->
	<appender name="errorout" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>error.log.%d{yyyy-MM-dd}</fileNamePattern>
		<!-- 30일 지난 파일은 삭제한다.  -->
		<maxHistory>30</maxHistory>
		</rollingPolicy>	
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>	
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%msg%n</pattern>
		</encoder> 		
	</appender>
	<!-- catalina.out 대체 -->
	<appender name="catalinaout" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/catalina.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<fileNamePattern>catalina_cu.log.%d{yyyy-MM-dd}</fileNamePattern>
		<!-- 30일 지난 파일은 삭제한다.  -->
		 <maxHistory>30</maxHistory>
		</rollingPolicy>		
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|%-5level|%msg%n</pattern>
		</encoder> 		
		
	</appender>
	<logger name="myError" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="errorout"/>
    </logger>    
	
	<!-- root 로거 기본 설정 -->
	<root>
		<level value="INFO" />
		<appender-ref ref="stdout"/>
		<appender-ref ref="catalinaout"/>
	</root>
</configuration>